<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Funcionários</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="cadastrado" class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <span class="closebtn" onclick="closeAlert()">&times;</span>
        </div>
        {% endif %}
    {% endwith %}

    <div id="confirmacao-exclusao" class="alert alert-danger" style="display: none;">
        <p>Deseja realmente excluir este funcionário?</p>
        <button class="btn" onclick="excluirFuncionario()">Sim</button>
        <button class="btn" onclick="fecharConfirmacao()">Cancelar</button>
    </div>

    <h1>Cadastro de Funcionários</h1>

    <form id="cadastroForm" method="post" action="/index">
        <label for="primeiro_nome">Nome:</label>
        <input type="text" id="primeiro_nome" name="primeiro_nome" required><br>

        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" name="sobrenome" required><br>

        <label for="id_setor">Setor:</label>
        <select id="id_setor" name="id_setor">
            {% for setor in setores %}
            <option value="{{ setor[0] }}">{{ setor[1] }}</option>
            {% endfor %}
        </select><br>

        <label for="id_cargo">Cargo:</label>
        <select id="id_cargo" name="id_cargo">
            {% for cargo in cargos %}
            <option value="{{ cargo[0] }}">{{ cargo[1] }}</option>
            {% endfor %}
        </select><br>

        <button id="cadastrarBtn" type="button" class="btn">Cadastrar</button>
    </form>

    <h2>Funcionários Cadastrados</h2>
    <table id="funcionariosTable">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Admissão</th>
            <th>Status do Funcionário</th>
            <th>Setor</th>
            <th>Cargo</th>
            <th>Ação</th>
        </tr>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario[1] }}</td>
            <td>{{ funcionario[2] }}</td>
            <td>{{ funcionario[3] | string_to_date }}</td>
            <td>{{ 'Ativo' if funcionario[4] else 'Inativo' }}</td>
            <td>{{ funcionario[5] }}</td>
            <td>{{ funcionario[6] }}</td>
            <td>
                <button class="btn btn-danger" onclick="exibirConfirmacao('{{ funcionario[0] }}')">Excluir</button>
            </td>
        </tr>
        {% endfor %}
    </table>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
